@model VendaDireta.Models.Usuario
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Usuário</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
</p>
