<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Venda Direta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "produtos")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "usuarios")</li>
                    <li>@Html.ActionLink("Sair", "Logout", "Login")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" style="color:#c9c9c9;">Receita: @ViewBag.UsuarioReceita</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" style="color:#c9c9c9;">Usuário: @ViewBag.UsuarioNome</a></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="container body-content">
        <div style="clear: both; height: 1px;"></div>
        <fieldset style="margin-top: 10px;">
            @RenderBody()
        </fieldset>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Venda Direta</p>
        </footer>
    </div>
</body>
</html>
